.matrixcharter_area {
  width: 60%; /*100%*/
  margin: 10px auto;
  display: flex;
  align-items: flex-start;
}
.matrixcharter_area > div {
  flex-basis: auto;
  display: block;
}
.matrixcharter_area .id_area {
  font-size: 2em;
}
.matrixcharter_area .stats_area .percent_area {
  font-size: 2em;
}
.matrixcharter_area .stats_area .count_area {
  font-size: 1em;
}
.matrixcharter_area .matrix_area {
  width: 195px;
  margin: 0 5px;
}
.matrixcharter_area .one-row {
  display: flex;
  width: 100%;
}
.matrixcharter_area .one-row .item,
.legend_colors_area .item {
  display: block;
  width: 8px;
  height: 11px;
  overflow: hidden;
  box-shadow: 0 1px 1px 0 #000 inset;
}
.matrixcharter_area .one-row:last-child .item,
.legend_colors_area .item {
  height: 12px;
  box-shadow: 0 1px 1px 0 #000 inset,  0 -1px 1px 0 #000 inset;
}
.matrixcharter_area .one-row .item:first-child,
.legend_colors_area .item:first-child {
  width: 9px;
  box-shadow: 0 1px 1px 0 #000 inset,  1px 0px 1px 0 #000 inset;
}
.matrixcharter_area .one-row .item:last-child,
.legend_colors_area .item:last-child {
  width: 8px;
  /*box-shadow: 0 1px 1px 0 #000 inset,  -1px 0px 1px 0 #000 inset;*/
  border-right: 1px solid #666;
}
.legend_colors_area .item:first-child {
  box-shadow: 0 1px 1px 0 #000 inset,  1px 0px 1px 0 #000 inset, 0px -1px 1px 0 #000 inset;
}
.legend_area {
  width: 60%;
  margin: 20px auto 10px;
}
.legend_area > div {
  display: flex;
  align-items: flex-start;
  width: 100px;
  margin: 0 auto;
}
.legend_colors_area .item {
  width: 20px !important;
}
.legend_values_area > div {
  width: 50%;
  text-align: left;
  font-size: 0.7em;
}
.legend_values_area > div:last-child {
  text-align: right;
}
.legend_title_area p {
  text-align: center;
  line-height: 1em;
  margin-left: auto;
  margin-right: auto;
}

.config_area,
.pastetext_area,
.file_area {
  padding: 10px;
  border-bottom: 1px dotted #333;
  margin-bottom: 10px;
}
.config_area label:not(:nth-child(1)){
  margin-left: 10px;
}
.pastetext_area textarea {
  display: block;
  height: 30vh;
  width: 100%;
  margin: 0px auto 10px;
  padding: 3px 6px;
  border: none;
  box-shadow: 0 0 3px 0 #333 inset;
  border-radius: 3px;
}
.file_area {
  border-bottom: none;
  padding-bottom: 90px;
  margin-bottom: 0px;
}
.file_area input {
  display: none;
}
.file_area button.inputfilebutton {
}
kbd {
  cursor: pointer;
}


.jumbotron {
  background-color: transparent;
  color: #fff;
  padding-bottom: 0;
}
.jumbotron h5 {
  margin-top: -14px;
}
.intro_area {
  /*width: 100%;*/
  /*height: 100%;*/
  background-image: url(../images/bg.jpg);
  background-size: cover;
  position: relative;
  padding: 0 20%;
  transform: translateY(0);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  transform-origin: 100% 100%;
}
.viz_area {
  padding: 0 20% 10px;
  min-height: 600px;
  box-shadow: 0 -5px 10px 0 #bbb;
  position: relative;
  background-color: #fff;
  z-index: 1;
}
.viztitle_area {
  padding: 110px 0 20px;
  position: relative;
}
.bigcircle {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 -5px 10px 0 #bbb;
  width: 200px;
  height: 200px;
  padding: 30px 20px 20px;
  border-radius: 50%;
  top: -100px;
  left: calc(50% - 100px);
}
.container {
  width: 100% !important;
  padding: 0 !important;
}


@media screen and (max-width: 650px) {
  .intro_area {
    padding: 0 2%;
  }
  p {
    font-size: 14px !important;
    -webkit-text-size-adjust:100%;
    text-size-adjust:100%;
  }
  .file_area {
    padding-bottom: 250px;
  }
}