<div>
	<div class="matrixcharter_area">
		<div class="id_area">{{chartdata.id}}<span ng-if="chartdata.sid != 0">-{{chartdata.sid}}</span></div>
		<div class="matrix_area">
			<div ng-repeat="row in matrix" class="one-row">
				<span ng-repeat="item in row" class="item" style="background-color: {{colorswatch[item.color]}}" title="{{item.valuer +' '+ timedenom.keyer}}"></span>
			</div>
		</div>
		<div class="stats_area">
			<div class="percent_area">{{chartdata.percentage}}%</div>
			<div class="count_area">{{chartdata.count}} UIDs</div>
		</div>
	</div>
	<div class="legend_area" ng-show="{{showlegend}}">
		<div class="legend_title_area">
			<p>Time ({{timedenom.keyer}})</p>
		</div>
		<div class="legend_colors_area">
			<div class="item" ng-repeat="coloritem in colorswatch" style="background-color: {{coloritem}}"></div>
		</div>
		<div class="legend_values_area">
			<div>0</div>
			<div>{{timedenom.valuer}}</div>
		</div>
	</div>
</div>