<div id="skrollr-body">
<div class="intro_area" data-top="bottom:0px; opacity: 1;" data-top-bottom="bottom:-350px; opacity: .9;">
	<div class="jumbotron text-center">
		<h1>Timematrix Charter</h1>
		<h5>(v 0.3)</h5>
		<p>A simple time heatmap chart tool built using Angular!</p>
	</div>
	<div class="config_area">
		<label>Time Denomination:</label>
		<select ng-model="timedenom" 
				ng-options="choicevalue as choicevalue.keyer for choicevalue in timedenomchoices">
		</select>
		<label>Display Type:</label>
		<select ng-model="displaytype"
				ng-options="choicevalue as choicevalue.keyer for choicevalue in displaytypechoices">
		</select>
	</div>
	<div class="pastetext_area">
		<form name="form_parse" action="">
			<label>You can paste your csv contents here, or <kbd ng-click="loadsample()">click here</kbd> for a sample:</label>
			<textarea ng-model="pasteCSVText" name="input_pastetext"></textarea>
			<input class="btn btn-block btn-primary" type="button" ng-click="submitparse()" value="Parse Data" name="submit_parse">
		</form>
	</div>
	<div class="file_area">
		<label>
			<div>or you can import a csv file too:</div>
			<input type="file" name="inputfile" ng-model="fileItem" onchange="angular.element(this).scope().filechange(this)">
			<div class="inputfilebutton btn btn-primary">Import File</div>
		</label>
	</div>
</div>
<div class="viz_area">
	<div class="bigcircle text-center">
		<h2 ng-if="collections.length == 0" style="margin-top:40px;">Changelog<br>Notes</h2>
		<h2 ng-if="collections.length > 0">Scroll<br>for the charts</h2>
	</div>
	<div ng-if="collections.length == 0" class="viztitle_area text-justify">
		<h4>v 0.1</h4>
		<ul>
			<li>Initial implementation of Timematrix Charter</li>
			<li>Read from import file capability</li>
			<li>Read from pasting raw data on textarea capability</li>
		</ul>
		<h4>v 0.2</h4>
		<ul>
			<li>Updated expected dataset headers: <em>percent</em> to <em>percentage</em></li>
			<li>Added display for <em>sid</em> attribute on chart</li>
		</ul>
		<h4>v 0.3</h4>
		<ul>
			<li>Directivised implementation</li>
			<li>Added sample dataset for pasting raw data</li>
			<li>Added units to mouseover data values</li>
			<li>Added rendering of legend</li>
			<li>Added configuration for time denomination(units):<br>a) seconds,<br>b) minutes</li>
			<li>Added configuration for display type:<br>a) weekly: 24 x 7,<br>b) monthly: 7 x 5</li>
		</ul>
	</div>
	<div ng-if="collections.length > 0" class="viztitle_area text-center">
		<p>Hover across the squares to see the raw data value!</p>
	</div>
	<matrixcharter ng-repeat="collection in collections" 
		chartdata="collection" 
		timedenom="timedenom" 
		displaytype="displaytype"
		showlegend="{{$last? true:false}}">
	</matrixcharter>
	<div class="text-center" ng-if="collections.length > 0">
		<p>That's all! Need further customizations? Buy me a coffee first!<span class="glyphicon glyphicon-grain"></span></p>
	</div>
</div>
</div>
<script type="text/javascript">
    var s = skrollr.init();
</script>